<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="server" value="https://localhost:7033/api/v1/" />
		<add key="client_version" value="v2"/>
		
		<!--motivos de items de liquidacion-->
		<add key="motivos_items_liquidacion" value="Bono,Comida,Adelanto deposito,Deposito,Redondeo" />
	</appSettings>
</configuration>
